.add-btn {
  border: 1px solid #333;
  padding: 5px;
  margin-left: 5px;
  text-decoration: none !important;
  background: #DCDCDC;
  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: #FFE4E1;
    color: #a00;
    cursor: pointer;
  }
}