html, body {
  font-family: Comic Sans, Comic Sans MS, cursive;
  background-color: whitesmoke;
}

.intro-header {
  padding-top: 50px;
}

@media (min-width: 992px) and (max-width: 1051px) {
  .my-navbar {
    display: none!important;
  }
}

@media (min-width: 1051px) {
  .my-navbar-two {
    display: none!important;
  }
}

@media (max-width: 1051px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }

  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }

  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }

  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
    margin: 7.5px 50px 7.5px -15px
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  .navbar-collapse.collapse.in { 
    display: block!important;
  }

  .collapsing {
    overflow: hidden!important;
  }
}

.margin-bottom {
  margin-bottom: 5px;
}

.form-login {
  background-color: white;
  border-radius: 2px;
  padding: 25px 20px;
  margin: 50px auto;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.form-login p {
  font-size: 22px;
}

.nav-item {
  cursor: pointer;
  &:active {
    outline: none;
  }
}

.form-login {
  background-color: white;
  border-radius: 2px;
  padding: 25px 20px;
  margin: 50px auto;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.form-login p {
  font-size: 22px;
}

.nav-item {
  cursor: pointer;
  &:active {
    outline: none;
  }
}

.backgroun-categories {
  background: white;
  padding:20px;
  margin-bottom: 20px; 
} 

@media (max-width: 767px) {
  .backgroun-categories p {
    font-size: 14px !important;
  }
}

.backgroun-categories p {
  background: steelblue;
  background: -moz-linear-gradient(top,  steelblue 0%, #7aa5a2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,steelblue), color-stop(100%,#7aa5a2));
  background: -webkit-linear-gradient(top,  steelblue 0%,#7aa5a2 100%);
  background: -o-linear-gradient(top,  steelblue 0%,#7aa5a2 100%);
  background: -ms-linear-gradient(top,  steelblue 0%,#7aa5a2 100%);
  background: linear-gradient(top,  steelblue 0%,#7aa5a2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='steelblue', endColorstr='#7aa5a2',GradientType=0 );
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  padding: 0 20px;  
  line-height: 50px;
  height: 50px;
  margin-top: 5px; 
  margin-left: -25px;  
  position: relative;  
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.3);
  color: #3b3a3b;  
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  overflow: hidden;
  text-overflow: ellipsis;
}  

.backgroun-categories p:after {
  position: absolute;
  content: '';
  width: 0; height: 0; 
  line-height: 0;  
  border-left: 15px solid transparent; 
  border-top: 10px solid #729c9a;  
  bottom: -10px;  
  left: 0;  
  position: absolute;  
  z-index: -1;
}

.backgroun-categories p:before {
  content: '';
  position: absolute;
  top: 5px;
  height: 39px;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-bottom: 1px solid rgba(255,255,255,0.5);
  width: 100%;
  left: 0;
}
