html, body {
  background-color: whitesmoke !important;
  height: 100%;
}

#root {
  margin: 0 2% 0 2%;
  padding: 1% 2% 1% 2%;
  height: 100%;
}

.background-table {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.margin-bottom {
  margin-bottom: 5px !important;
}

.padding-top {
  padding-top: 20px;
}

.main-menu {
  margin: 50px 0 50px 0;
}

.height-100 {
  height: 100%;
}

.vertical-parent {
  display: table;
  width: 100%;
}

.vertical-child {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.link {
  cursor: pointer;
  box-shadow: inset 0 0 6px;
  &:hover {
    box-shadow: 0 0 5px 2px;
  }
}