html, body {
  font-family: Comic Sans, Comic Sans MS, cursive;
  background-color: whitesmoke;
}

.form-login {
  background-color: white;
  border-radius: 2px;
  padding: 25px 20px;
  margin: 50px auto;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.form-login p {
  font-size: 22px;
}

.intro-header {
  padding-top: 50px;
}

.margin-top {
  margin-top: 10px;
}

.nav-item {
  cursor: pointer;
  &:active {
    outline: none;
  }
}

@media (max-width: 768px) {
  .margin-top-xs {
    margin-top: 10px;
  }
}

@media (min-width: 992px) {
  .vr {
    border-right: 1px dotted black;
  }
}

@media (max-width: 991px) {
  .vr {
    border-bottom: 1px dotted black;
  }
}

td {
  word-break: break-all;
}

.Dropdown-option {
  word-break: break-all;
}
